<div class="card">
	<div class="card-image">
		<img src="{{ newsitem.urlToImage ? newsitem.urlToImage : 'https://imgplaceholder.com/420x320/e3e0e0/757575/fa-file-picture-o?text=Image+Not+Found' }}" alt="{{ newsitem.title }}">
	</div>
	  <div class="card-content">
	    <a href="{{ newsitem.url }}" target="_blank"><h5 class="card-title">{{ newsitem.title }}</h5></a>
	    <p>{{ newsitem.description }}</p><br />
	    <small>By: {{ newsitem.author ? newsitem.author : 'No Author Specified' }}</small>
	  </div>
	<div class="card-action">
	  <small class="text-muted">{{ newsitem.publishedAt | date:'medium' }}</small>
	</div>
</div>
<br>
